{# <footer>

	{% block footer %} #}
		<footer>
			<div class="text-center text-lg-start bg-light">
				<div class="text-center p-3">
					Copyright © 2022
				</div>
			</div>
		</footer>

	{# {% endblock %}

</footer> #}
